/*************************** Check and Radio buttons * */
listview.inline { background: none; }

popover.combo list, popover.combo listview { min-width: 200px; }

tabview, tabbox { box-shadow: none; }
